body {
  font-family: "Press Start 2P", system-ui;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
}
.gameArea {
  position: absolute;
  width: 400px;
  height: 255px;
  background: rgba(7, 26, 49, 0.6);
  top: 122px;
  border: #919bbec7 10px solid;
  border-radius: 4px;
  backdrop-filter: blur(4px);
  transform: perspective(1000px) rotateX(33deg) scaleX(0.54) scaleY(0.84);
}
.bg {
  position: absolute;
  height: 650px;
  z-index: -1;
}
.paddle {
  height: 70px;
  width: 15px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 95px;
}
.paddle2 {
  right: 0;
}
.ball {
  position: absolute;
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  top: 120px;
  left: 190px;
  box-shadow: 8px rgba(0, 0, 0, 0.9);
}
.net {
  position: absolute;
  border-right: 8px rgba(255, 255, 255, 0.3) dotted;
  height: 96%;
  top: 2%;
  left: calc(50% - 4px);
}

.title {
  position: absolute;
  top: 55px;
  font-size: 18px;
}
.score {
  position: absolute;
  top: 48px;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.player1Score {
  left: calc(50% - 140px);
}
.player2Score {
  right: calc(50% - 140px);
}
.startText {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #222;
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
 
}
.vignett {
  height: 100dvh;
  width: 100dvw;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
